.submitBtn {
background-color: yellow;
color: #000;
font-size: 16px;
line-height: 2; 
border-radius: 3px;
cursor: pointer;
border: none;
font-family: inherit;
margin-top: 10px;
margin-bottom: 10px;
min-width: 80px;
max-width: 80px;
  
}

.DetailPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  
}


.detail-column1 {
  margin-left: 20px;
  margin-right: 20px;
  
  line-height: 2; 
}

.detail-column2 {
  
  margin-left: 20px;
  margin-right: 20px;
  
  line-height: 2; 
  overflow-y: auto;
}

.video{
  width: 490px;
  height: 300px;
}

.userReview {
  height: 100px;
  width: 490px;
}

@media screen and (max-width: 770px) {
  .DetailPage {
    
    grid-template-columns: 1fr;
  
  }

  .video{
    width: 368px;
    height: 200px;
  }
  .userReview {
    width: 368px;
  }
}

