footer{
  text-align: center;
  color:rgb(77, 80, 83);
  padding-bottom: 10px;
}

.footer-class a {
  color:rgb(77, 80, 83);
  text-decoration: none;
}

.linkedin:hover{
  color:#fff;
}

.footer-span {
  color: red;
}

.footer-hr {
  margin-top: 50px;
  width: calc(100vw - 158px);
}